/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2dcc5;
  color: #333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  box-shadow: #333 2px 2px 7px;
}

.header-button {
  background-color: #e30505c7;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 3vw;
  border-radius: 7px;
  box-shadow: #a0a0a0 0px 5px 8px;
}

.main-section {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 1.5em;
  color: #333;
}
p {
  font-size: 1rem;
}

.buy-button {
  background-color: #008cba;
  border-radius: 7px;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  margin: 20px 0;
  box-shadow: #29eae3 0px 5px 8px;
}

.images-section {
  display: flex;
  /* width: 100vw; */
  /* margin: 0 20vw; */
  padding: 0 10vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.images-section img {
  width: 95%;
  
  
  border-radius: 15px;
  box-shadow: #3a3a3a 0px 7px 10px;
}

/* .images-section .midle{
  width: 100%;
} */

.search-section {
  margin: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.search-section input {
  padding: 1vw;
  width: 30vw;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  font-size: 1em;
  margin-right: .5vw;
  background-color: transparent;
  box-shadow: #6f6f6f 0px 4px 5px;
  outline: none;
}

.search-button {
  padding: 1vw;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: #29eae3 0px 3px 8px;
}

.product-list {
  display: flex;
  justify-content: center;

  /* flex-wrap: wrap; */
  padding: 20px;
  margin: 0 20vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}





.product-card {
  background-color: transparent;
  border: 2px solid #bdbcbc;
  border-radius: 10px;
  /* padding: 5px; */
  width: 25vw;
  margin: 0px 5px;
  text-align: center;
  border-bottom: 20px;
  box-shadow: #404040 0px 5px 10px;
}

.product-card img {
  width: 80%;
  border-radius: 15px;
}

.product-card h3 {
  font-size: 1em;
  margin: .5vw 0;
}
.product-card span {
  font-size: .8em;
}
.product-card button {
  font-size: .8em;
  border-radius: 3px;
}
footer {
  background-color: #c2c2c2;

  padding: 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons img {
  width: 30px;
  margin: 10px 20px;
  padding-bottom: 15px;
}

.api-button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: #29eae3 0px 3px 7px;
}
h4 {
  font-size: 18px;
  font-weight: 900;
}

.social-icons {
  padding-bottom: 20px;
}

.social-icons a {
  text-decoration: none;
  color: #474747;
  font-size: 30px;
  margin: 0 10px;
}
